<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProjectMapper">

    <select id="getDataInfoCount"
            parameterType="String"
            resultType="Integer">
        SELECT
          COUNT(dataId)
        FROM
          qtProject.[DataInfo]
        WHERE
          userId = #{userId}
    </select>

    <select id="getData"
            parameterType="java.util.Map"
            resultType="Integer">
        SELECT
            point
        FROM
            qtProject.[Data]
        WHERE
            dataId = #{dataId}
    </select>

    <insert id="insertData"
            parameterType="java.util.Map">
        INSERT
        INTO
            qtProject.[Data]
            (dataId, point) VALUES (#{dataId},#{point})
    </insert>

    <select id="getDataId"
            resultType="Integer">
        SELECT
            ISNULL(max(dataId),0)
        FROM
            qtProject.[Data]
    </select>

    <select id="getMarkings"
            parameterType="java.util.Map"
            resultType="com.example.demo.entities.Markings">
        SELECT
            *
        FROM
            qtProject.[Markings]
        WHERE
            dataId = #{dataId}
        <if test='pageNo.equals("0")'>
            AND
            userId = #{userId}
            AND deleted = 0
        </if>
        <if test='pageNo.equals("1")'>
            AND
            userId = #{userId}
            AND deleted = 0
        </if>
        <if test='pageNo.equals("count")'>
            AND userId = #{checkedUserId}
        </if>
    </select>
    <select id="getConfirmMarkings"
            parameterType="java.util.Map"
            resultType="com.example.demo.entities.ConfirmMarkings">
        SELECT
        *
        FROM
        qtProject.[ConfirmMarkings]
        WHERE
        dataId = #{dataId}
    </select>



    <insert id="insertMarkings"
                     parameterType="java.util.Map">
        INSERT
        INTO
        qtProject.[Markings] (dataId,point,pointId,userId)
            VALUES
            (#{dataId},#{point},#{pointId},#{userId})
    </insert>
    <insert id="insertMarkingsByConfirmUser"
            parameterType="java.util.Map">
        INSERT
        INTO
            qtProject.[ConfirmMarkings] (dataId,point,pointId,userId)
                VALUES
            (#{dataId},#{point},#{pointId},#{userId})
    </insert>

    <insert id="saveComment"
            parameterType="java.util.Map">
        INSERT
        INTO
            qtProject.[Board] (content, dataId, userId)
                VALUES
            (#{content},#{dataId},#{userId})
    </insert>

    <select id="getComments"
            parameterType="java.util.Map"
            resultType="com.example.demo.entities.Board">
        SELECT * FROM qtProject.[Board] WHERE dataId = #{dataId}
    </select>



    <delete id="deleteMarkingsConfirm"
            parameterType="java.util.Map">
        DELETE
        FROM
            qtProject.[ConfirmMarkings]
        WHERE
            dataId = #{dataId}
        AND
            userId = #{userId}
        AND
            pointId = #{pointId}
    </delete>

    <update id="updateMarkings">
        UPDATE
            qtProject.[Markings]
        SET
            deleted=0, confirmUserId = #{userId}, point =#{point}
        WHERE
            dataId = #{dataId}
        AND
            pointId = #{pointId}
    </update>

    <select id="getMarkingsInfo"
            resultType="java.util.Map">
        SELECT
               *
        FROM
             qtProject.[MarkingsInfo]
    </select>

    <delete id="deleteMarkings"
            parameterType="java.util.Map">
        DELETE
        FROM
            qtProject.[Markings]
        WHERE
            dataId = #{dataId}
        AND
            userId = #{userId}
        AND
            pointId = #{pointId}
    </delete>

    <insert id="confirmData"
            parameterType="java.util.Map">
        INSERT
            INTO
              qtProject.[dataInfo] (dataId,status,userId)
            VALUES
              (#{dataId},#{status},#{userId})
    </insert>

    <update id="confirmDataByConfirmUser"
            parameterType="java.util.Map">
        update
              qtProject.[dataInfo]
        set status = 2
        where dataId = #{dataId}
    </update>

    <select id="checkIsValid"  parameterType="java.util.Map" resultType="int">
        SELECT
            ISNULL(max(dataId),0) as count
        FROM
            qtProject.[DataInfo]
        where
            dataId = #{dataId}
        AND
            userId = #{userId}
    </select>

    <select id="getPath" parameterType="java.util.Map" resultType="java.util.Map" >
        SELECT
            TOP 1 *
        <if test='pageNo.equals("2")'>
            ,(select  TOP 1 userId from qtProject.[dataInfo] where status in (1,99)) as userId
        </if>
        FROM
            qtProject.[waveform_info]
        WHERE
             1=1
            <if test='pageNo.equals("0")'>
                and id not in (select dataId from qtProject.[dataInfo])
            </if>
            <if test='pageNo.equals("1")'>
                and id in (select dataId FROM
                                (select
                                    di.dataId,ROW_NUMBER() OVER( ORDER BY di.dataId desc) AS NUM
                                        from qtProject.[dataInfo] as di
                                            left join
                                            qtProject.[Board] as b
                                            on di.dataId = b.dataId
                                            left join
                                            qtProject.[ConfirmMarkings] as cf
                                            on di.dataId = cf.dataId
                                            where b.content is not null or cf.point is not null and
                                            di.userId = #{userId} and di.status =2
                                            group by di.dataId
                                )
                            as  T1 where NUM=#{projectNo}

                )
            </if>
            <if test='pageNo.equals("2")'>
                and id in (select Top 1 dataId from qtProject.[dataInfo] where status in (1,99) and userId != #{userId})
            </if>
    </select>

    <select id="getMarkedProject">
        SELECT * FROM (
    SELECT , *
    FROM qtProject.DataInfo where userId = #{userId}
    ) T1
WHERE NUM = #{projectNo};

    </select>

</mapper>