<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProjectMapper">

    <select id="getDataInfoCount"
            parameterType="String"
            resultType="Integer">
        SELECT
          COUNT(dataId)
        FROM
          qtProject.[DataInfo]
        WHERE
          userId = #{userId}
    </select>

    <select id="getData"
            parameterType="java.util.Map"
            resultType="Integer">
        SELECT
            point
        FROM
            qtProject.[Data]
        WHERE
            dataId = #{dataId}
    </select>

    <insert id="insertData"
            parameterType="java.util.Map">
        INSERT
        INTO
            qtProject.[Data]
            (dataId, point) VALUES (#{dataId},#{point})
    </insert>

    <select id="getDataId"
            resultType="Integer">
        SELECT
            ISNULL(max(dataId),0)
        FROM
            qtProject.[Data]
    </select>

    <select id="getMarkings"
            parameterType="java.util.Map"
            resultType="com.example.demo.entities.Markings">
        SELECT
            *
        FROM
            qtProject.[Markings]
        WHERE
            dataId = #{dataId}
        <if test='pageNo.equals("0") or pageNo.equals("1")'>
            AND
            userId = #{userId}
            AND deleted = 0
        </if>
        <if test='pageNo.equals("2")'>
            AND userId = #{checkedUserId}
            AND deleted = 0
        </if>
        <if test='pageNo.equals("count")'>
            AND userId = #{checkedUserId}
        </if>

    </select>


    <insert id="insertMarkings"
                     parameterType="java.util.Map">
        INSERT
        <if test='pageNo.equals("0") or pageNo.equals("1")'>
            INTO
            qtProject.[Markings] (dataId,point,pointId,userId)
            VALUES
            (#{dataId},#{point},#{pointId},#{userId})
        </if>
        <if test='pageNo.equals("2")'>
            INTO
            qtProject.[Markings] (dataId,point,pointId,userId,confirmUserId)
                VALUES
            (#{dataId},#{point},#{pointId},#{checkedUserId},#{userId})
        </if>

    </insert>


    <update id="deleteMarkingsConfirm"
            parameterType="java.util.Map">
        UPDATE
            qtProject.[Markings]
        SET
            deleted=1, confirmUserId = #{userId}
        WHERE
            dataId = #{dataId}
        AND
            userId = #{checkedUserId}
        AND
            pointId = #{pointId}
    </update>

    <update id="updateMarkings">
        UPDATE
            qtProject.[Markings]
        SET
            deleted=0, confirmUserId = #{userId}, point =#{point}
        WHERE
            dataId = #{dataId}
        AND
            userId = #{checkedUserId}
        AND
            pointId = #{pointId}
    </update>

    <select id="getMarkingsInfo"
            resultType="java.util.Map">
        SELECT
               *
        FROM
             qtProject.[MarkingsInfo]
    </select>

    <delete id="deleteMarkings"
            parameterType="java.util.Map">
        DELETE
        FROM
            qtProject.[Markings]
        WHERE
            dataId = #{dataId}
        AND
            userId = #{userId}
        AND
            pointId = #{pointId}
    </delete>

    <update id="confirmData"
            parameterType="java.util.Map">
        update
              qtProject.[dataInfo]
        set status = 2
        where dataId = #{dataId} and userId = #{checkedUserId}
    </update>

    <select id="checkIsValid"  parameterType="java.util.Map" resultType="int">
        SELECT
            ISNULL(max(dataId),0) as count
        FROM
            qtProject.[DataInfo]
        where
            dataId = #{dataId}
        AND
            userId = #{userId}
    </select>

    <select id="getPath" parameterType="java.util.Map" resultType="java.util.Map" >
        SELECT
            TOP 1 *
        <if test='pageNo.equals("2")'>
            ,(select userId from qtProject.[dataInfo] where status in (1,99)) as userId
        </if>
        FROM
            qtProject.[waveform_info]
        WHERE
             1=1
            <if test='pageNo.equals("0")'>
                and id not in (select dataId from qtProject.[dataInfo] where userId = #{userId} and status in (1,99))
            </if>
            <if test='pageNo.equals("1")'>
                and id in (select dataId from qtProject.[dataInfo] where userId = #{userId} and status in (1,99))
            </if>
            <if test='pageNo.equals("2")'>
                and id in (select dataId from qtProject.[dataInfo] where status in (1,99))
            </if>
    </select>


</mapper>