<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="checkUserPassword"
            resultType="String">
        SELECT
            password
        FROM
            qtProject.[user]
        WHERE
            username = #{username}
    </select>

    <select id="getUser"
            resultType="com.example.demo.entities.User">
        SELECT
            username, name
        From
            qtProject.[user]
        WHERE
            username = #{username}
        AND
            leftedAt = null
    </select>

    <update id="updateUser"
            parameterType="com.example.demo.pojos.UserRegistration">
        UPDATE
          qtProject.[user]
        SET
          name = #{name}, password=#{password}, leftedAt = #{leftedAt}
        WHERE
          username = #{username}
    </update>




</mapper>